---
---
<div class="flex flex-row justify-between items-center bg-lime-500 h-16">
    <div class="px-4">
        <a href="/">
            <span>Inicio</span>
        </a>
    </div>
    <div class="px-4">
        <a href="/login">
            <span>Login</span>
        </a>
    </div>
</div>
